# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
flask==2.2.5
inflection==0.5.1
numpy==1.21.6
pandas==2.0.1
pickleshare==0.7.5
python==3.11.3
requests==2.30.0
scikit-learn==1.2.2
xgboost==1.7.5